{% extends "layout.html" %}

{% block title %}Admin{% endblock %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="{{url_for('static',filename='admin.js') }}"></script>
 {% endblock %}

{% block content %}
	<h1>Books</h1>
	<div>
		<a href="{{ url_for('create_book') }}"><button>New Book</button> </a>
	</div>
	<br/>
	{% for book in books %}
		<div class="book-row">
			Title: {{ book.title }} <button class="modify-book-{{ book.id }}">Modify</button>
			<button class="delete-book-{{ book.id }}">Delete</button>
			<div>Autors: {% for author in book.authors %}
			<span>{{author.name}}</span>,
			{% endfor %}
			</div>
		</div>
		<br/>
	{% endfor %}
	<h1>Authors</h1>
	<div>
		<a href="{{ url_for('create_author') }}"><button>New Author</button> </a>
	</div>
	<br/>
	{% for author in authors%}
	<div class="author-row">
		Name: {{ author.name }} <button class="modify-author-{{ author.id }}">Modify</button>
		<button class="delete-author-{{ author.id }}">Delete</button>
		<div> Books: {% for book in author.books %}
				<span>{{book.title}}</span>,
			{% endfor %}
			
		</div>
		
	</div>
	<br/>
	{% endfor%}


{% endblock %}