{% extends "layout.html" %}

{% block title %}Author{% endblock %}

{% block head %}
	{{ super() }}
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
	<script type="text/javascript" src="{{url_for('static',filename='jquery.tagsinput.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='edit_books.js') }}"></script>
	<link rel="stylesheet" href="{{url_for('static', filename='jquery.tagsinput.min.css')}}" />
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/start/jquery-ui.css" />
 {% endblock %}

{% block content %}
<h2>Create/Update Author</h2>
<form method="POST" action="{{request.path}}">
	{{form.csrf_token}}
    <div>{{ form.name.label }}: {{ form.name(class="author_name") }}</div>
    <input type="submit" value="submit"/>
</form>
{% if 'modify' in request.path.split('/') %}
	<p><label>Books list editor:</label>
	<input id='books' type='text' class='books-input'></p>
	<a href="{{url_for('admin')}}"><button>Save books</button></a>
{% endif%}

{% endblock %}