{% extends "layout.html" %}

{% block title %}Book{% endblock %}

{% block head %}
	{{ super() }}
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
	<script type="text/javascript" src="{{url_for('static',filename='jquery.tagsinput.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='edit_authors.js') }}"></script>
	<link rel="stylesheet" href="{{url_for('static', filename='jquery.tagsinput.min.css')}}" />
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/start/jquery-ui.css" />
 {% endblock %}

{% block content %}
<h2>Create/Update Book</h2>
<form method="POST" action="{{request.path}}">
	{{form.csrf_token}}
    <div>{{ form.title.label }}: {{ form.title(class="css_class") }}</div>
    <div>{{ form.authors.label }}(comma seperated): {{ form.authors(class="authors_field") }}</div>
    <input type="submit" value="submit"/>
</form>

{% endblock %}
