{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="book">
	<h1>Title: {{ book.title }} </h1>
	<div>Autors: {% for author in book.authors %}
	<span>{{author.name}}</span>,
	{% endfor %}
	</div>
</div>
{% endblock %}