<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    
    <script type="text/javascript" src="{{url_for('static',filename='jquery.min.js') }}"></script>
    {% endblock %}
</head>
<body>
    <div id="columns">
	<div id="menu">
		<ul>
			{% if session['superuser'] %}
			<li><a href="/admin">Admin</a></li>
			{% endif %}
			{% if session['login'] %}
			<li><a href="/search">Search</a></li>
			<li><a href="/logout">Logout</a></li>
			{% endif %}
			{% if not session['login'] %}
			<li><a href="/signup">Signup</a></li>
			<li><a href="/login">Login</a></li>
			{% endif %}
		</ul>

	</div>
	<div id="content">{% block content %}{% endblock %}</div>
    </div>
    <div id="footer">
        {% block footer %}
        
        {% endblock %}
    </div>
</body>
</html>
