{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="POST" action="{{request.path}}">
	{{form.csrf_token}}
    <div>{{ form.login.label }}: {{ form.login(class="login_field") }}</div>
    <div>{{ form.passw.label }}: {{ form.passw(class="pass_field") }}</div>
    <input type="submit" value="submit"/>
</form>

{% endblock %}
