{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block head %}
	{{ super() }}
	<script type="text/javascript" src="{{url_for('static',filename='jquery.typeahead.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='search.js') }}"></script>
	<link rel="stylesheet" href="{{url_for('static', filename='jquery.typeahead.min.css')}}" />
 {% endblock %}

{% block content %}
<h2>Search Book</h2>
	<form>
        <div class="typeahead-container">
            <div class="typeahead-field">

            <span class="typeahead-query">
                <input id="q"
                       name="q"
                       type="search"
                       autofocus
                       autocomplete="off">
            </span>
            <span class="typeahead-button">
                <button type="submit">
                    <span class="typeahead-search-icon"></span>
                </button>
            </span>

            </div>
        </div>
    </form>

{% endblock %}