{% extends "layout.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<h2>Signup</h2>
<form method="POST" action="{{request.path}}">
	{{form.csrf_token}}
    <div>{{ form.username.label }}: {{ form.username(class="login_field") }}</div>
    <div>{{ form.passw.label }}: {{ form.passw(class="pass_field") }}</div>
    <div>{{ form.passw2.label }}: {{ form.passw2(class="pass_field") }}</div>
    <input type="submit" value="submit"/>
</form>

{% endblock %}
